html,
body {
    height: 100%;
    background: url("../img/bg.png") repeat;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -100px;
    padding: 0 0 100px;
}

.wrap > .container {
    padding: 100px 15px 20px;
}

.navbar .badge {
    background: #fff;
    color: #151273;
    font-weight: bold;
}

.no-link {
    text-decoration: none;
    color: inherit;
}

.no-link:hover {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

th {
    background: #fff;
}

.table-striped > tbody > tr:nth-child(even) {
    background-color: #fff;
}

/* Top Menu */
.navbar.stuck .navbar-top {
    margin-top: -30px;
}

.navbar .navbar-top {
    transition: all 0.1s ease-out 0s;
    -webkit-transition: all 0.1s ease-out 0s;
    -moz-transition: all 0.1s ease-out 0s;
    -ms-transition: all 0.1s ease-out 0s;
    -o-transition: all 0.1s ease-out 0s;
    height: 30px;
    background: #8BE5B5;
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

.userMenu {
    display: inline;
}

.userMenu li {
    display: block;
    float: left;
}

.userMenu li a {
    /*color: #FFFFFF;*/
    display: block;
    float: right;
    font-size: 12px;
    line-height: 30px;
    padding: 0 20px 0 0;
    text-decoration: none;
}

.soclink {
    padding: 0 !important;
}

.phone-number span {
    float: left;
}

/* Footer */
.full {
    width: 100%;
}

.gap {
    height: 30px;
    width: 100%;
    clear: both;
    display: block;
}

.footer {
    background: #fff;
    height: auto;
    padding-bottom: 30px;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #DDDDDD;
}

.footer p {
    margin: 0;
}

.footer img {
    max-width: 100%;
}

.footer h3 {
    border-bottom: 1px solid #BAC1C8;
    color: #54697E;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    padding: 20px 0 10px;
    text-transform: uppercase;
}

.footer ul {
    font-size: 13px;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 15px;
    /*color: #7F8C8D;*/
}

.footer ul li a {
    padding: 0 0 5px 0;
    display: block;
}

.footer a {
    color: #78828D
}

.supportLi h4 {
    font-size: 20px;
    font-weight: lighter;
    line-height: normal;
    margin-bottom: 0 !important;
    padding-bottom: 0;
}

.footer-bottom {
    background: #f5f5f5;
    border-top: 1px solid #DDDDDD;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer-bottom p.pull-left {
    padding-top: 6px;
}

/* Carousel controls */
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next,
.carousel-control .icon-prev {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* Product Panel */
.panel-product {
    display: block;
    height: 450px;
    text-align: center;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}

.panel-product:hover {
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .12), 0 1px 6px 0 rgba(0, 0, 0, .12);
}

.panel-product > .panel-image {
    display: block;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
    max-height: 240px;
}

.panel-product > .panel-image > img {
    margin: 0 auto;
}

.promotion {
    position: absolute;
    z-index: 10;
    bottom: 20px;
    left: 0;
    height: 24px;
    width: auto;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    line-height: 18px;
}

.status {
    display: inline-block;
    font-family: Oswald, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: lighter;
    height: 100%;
    padding: 3px 10px;
}

.product-price {
    font-size: 28px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 10px;
}

.product-header {
    margin: 0;
    padding: 0;
}

/* Product image gallery */
.gallery-item img {
    border-radius: 6px;
    cursor: zoom-in;
}

.gallery-item:first-child img {
    display: block;
    max-width: 100%;
    height: auto;
}

.gallery-item:not(:first-child) img {
    max-width: 100px;
    margin-top: 20px;
    display: inline-block;
    height: auto;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.child-categories {
    margin-bottom: 20px;
}

.product-view .panel-body {
    padding: 30px;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 3px;
    display: inline-block;
    font-family: 'Glyphicons Halflings', serif;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e113";
}

a.desc:after {
    content: "\e114";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}
